.styled-select {
  background: url(../images/arrow1.png) no-repeat 96% 0;
  height: 32px;
  overflow: hidden;
  width: 140px; }
  .styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 32px;
    padding: 5px;
    width: 268px; }
  .styled-select.slate {
    background: url(../images/arrow2.jpg) no-repeat right center;
    height: 34px;
    width: 140px; }
    .styled-select.slate select {
      border: 1px solid #ccc;
      font-size: 16px;
      height: 34px;
      width: 268px; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: ''; }

/*# sourceMappingURL=style.css.map */
